.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 250px;
    height: 40px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);
    background-color: #4cbb17;
    border-radius: 20px;
    cursor: pointer;
}

.location-title {
    font-family: "Smooch Sans", serif;
    font-weight: 800;
    font-size: 22px;
    color: aliceblue;
}