.search-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 40px;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);
    border-radius: 40px;
  }
  
  .search-input-wrapper input[type='text'] {
    width: 100%;
    max-width: 600px;
    height: 100%;
    border-radius: 40px;
    padding-left: 20px;
    border: none;
  }
  
  .search-input-wrapper input[type='text']:focus {
    outline: none;
  }
  