@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.city-weather {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    color: rgb(51, 85, 85);
    width: 720px;
    height: 330px;
    border-radius: 30px;
    box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
}

.city-weather__left {
    position: relative;
    width: 240px;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.city-weather__left-temp-title {
    font-weight: 700;
    font-size: 66px;
    margin: 0;
}

.city-weather__left-temp-feelsLike {
    position: absolute;
    top: 31%;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.city-weather__left-sunriseSunset {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.city-weather__left-sunriseSunset-elem {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100px;
    height: 54px;
}

.city-weather__left-sunriseSunset-elem-descr-title {
    margin: 0;
    font-size: 16px;
}

.city-weather__left-sunriseSunset-elem-descr-time {
    font-size: 14px;
}

.city-weather__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.city-weather__middle-wrapper-img {
    width: 180px;
    object-fit: cover;
}

.city-weather__middle-wrapper-title {
    margin: 0;
    font-size: 26px;
    text-align: center;
}

.city-weather__right {
    display: flex;
    align-items: center;
    width: 400px;
}

.city-weather__right-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.city-weather__right-wrapper-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 150px;
    margin-bottom: 15px;
}

.city-weather__right-wrapper-element-img {
    width: 60px;
}

.city-weather__right-wrapper-element-subtitle {
    margin: 0;
    font-size: 20px;
}

.color-light {
    color: antiquewhite;
}