.App {
  max-width: 100%;
  width: 1100px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 50px;
}

.middle-section {
  display: flex;
  gap: 55px;
  margin-top: 49px;
}

.footer-section {
  display: flex;
  gap: 55px;
  margin-top: 50px;
}